# Wallet Connect Project ID (get from https://cloud.walletconnect.com)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=YOUR_PROJECT_ID

# API Base URL
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Smart Contract
NEXT_PUBLIC_CONTRACT_ADDRESS=0x4986712a18eEc3559C29fC421Ad6D4BE38Faf763
NEXT_PUBLIC_CHAIN_ID=11155111

# IPFS Gateway
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs
